<div id="bill-area">

    <p>
        Sub Total : <span id="subTotal"></span>      
    </p>
    <p>
        Tax : <span id="tax"></span>    
    </p>
    <p>
        Total: <span id="total"></span>  
    </p>


</div>


<div id="promo-code-area">
    <p>
        Have a promo Code <button class="btn" type="button">Click to Enter</button>
    </p>
    <form>
        <label for="promoCode">PROMO CODE</label>
        <input type="text" id="promoCode">
        <button class="btn" type="button">Enter Code</button>
    </form>
</div>